<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <!--<p>{{site.author-about}}</p>-->
                    <p><pre>이름     : 이상우(Lee Sang Woo)  
생년월일 : 1994.11.29  
출생지역 : 강원도 춘천  
전공     : 한림대학교 소프트웨어융합대학 빅데이터(복수전공 : 스마트IOT)  
취미     : 카페투어,풍경 사진찍기,음악감상,드라이브
사용언어 : java , C , C++ , LabView , Ardoino , python
                    </pre>
                    </p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">RECORE</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>